<app-search></app-search>

<!-- about -->
<div id="profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2>About</h2>
                <p>We believe that everyone can fall victim to receiving and sharing unfactual or unreliable information, but there are hardly any tools to help us see if we, or the people we are interested in on Twitter, have shared any such misinformation.</p>
                <p>MisinfoMe is developed as part of the <a href="https://coinform.eu/" title="Co-Inform Project - Opens in a new window" target="_blank">Co-Inform</a> research project, funded by Horizon 2020 (project #770302).</p>
                <p>The core goal of MisinfoMe is to help people assess individual Twitter accounts with regards to their spread of misinformation. To achieve this, MisinfoMe uses a database of over 100,000 fact-checks published by hundreds of Fact-Checking
                    organisations from all around the world. We only use outputs of legitimate Fact-Checkers, who are verified and registered by the <a href="https://www.poynter.org/ifcn/" title="International Fact-Checking Network - Opens in a new window"
                        target="_blank">International Fact-Checking Network</a> (IFCN); a forum that sets a code of ethics for fact-checking organisations.</p>
                <p>MisinfoMe should only be used as a demonstrator. The analysis and results provided by MisinfoMe should not be used as a valid assessment of any Twitter account or tweet. See our <a [routerLink]="" (click)="open_accuracy_modal()" title="Read more: Accuracy Statement">Accuracy statement</a>.</p>
                <p><a [routerLink]="" (click)="open_analysis_modal()" title="Read more about the analysis that MisInfoMe Performs">Learn more about the analysis that MisinfoMe performs</a>.</p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- about ends -->