<!-- accuracy modal -->
<!-- <div class="modal fade padding-top-100" id="accuracy" tabindex="-1" role="dialog" aria-labelledby="accuracy"> -->
<!-- <div class="modal-dialog" role="document"> -->
<!-- <div class="modal-content"> -->
<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="activeModal.close('Close click')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title" id="myModalLabel" title="Accuracy">&nbsp;</h4> -->
    </div>
    <div ngbAutofocus class="modal-body">
        <h2>Accuracy</h2>
        <p>Errors could emerge in MisinfoMe's analysis and credibility scoring of tweets. One source of errors is the ClaimReview annotations that fact-checkers publish, which can be incomplete (e.g. pointing to the author of the misinforming link but not
            the actual link), imprecise (e.g. pointing to a Facebook group instead of a particular post on that group), or misplaced (e.g. placing the misinformation URL in the wrong ClaimReview attribute).</p>
        <p>MisinfoMe is a research project, and in continuous development to improve its accuracy, scope, and user interface. Please contact us if you spot any issues and we'll try our best to fix them.</p>
    </div>
    <!-- </div> -->
</div>
<!-- </div> -->
<!-- accuracy modal ends -->