<app-search [expanded]="true"></app-search>

<div *ngIf="loading">
    <div class="container">
        <div class="centered">
            <img src="/assets/img/misinfo-loader.gif" alt="MisInfoMe Logo"> loading...
        </div>
    </div>
</div>

<div *ngIf="!loading">
    <!-- processed -->
    <div id="processed">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <h2>Fact-checking Summary Analysis</h2>
                    <p>So far we have processed requests to check {{data.stats.profiles_analysed_count}} profiles and analysed {{data.stats.tweets_analysed_count}} tweets.</p>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-lg-3 col-md-3 col-xs-6">
                <p>Accounts</p>
                <div class="processed-icon"><em class="fas fa-user"></em></div>
                <p>2226</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6">
                <p>Tweets</p>
                <div class="processed-icon"><em class="fab fa-twitter"></em></div>
                <p>4544341</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6">
                <p>Misinformation URLs</p>
                <div class="processed-icon"><em class="fas fa-globe"></em></div>
                <p>1679030</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6">
                <p>Sources</p>
                <div class="processed-icon"><em class="far fa-check-square"></em></div>
                <p>4563</p>
            </div>-->
                <div class="col-lg-6 col-md-6 col-xs-6">
                    <div class="group">
                        <div class="processed-icon"><em class="fas fa-user"></em></div>
                        <h3><span class="counter">{{data.stats.profiles_misinformed_count / data.stats.profiles_analysed_count | percent}}</span> of profiles</h3>
                        <p class="percent">Spreading misinformation</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6">
                    <div class="group">
                        <div class="processed-icon"><em class="fab fa-twitter"></em></div>
                        <h3><span class="counter">{{data.stats.tweets_misinformed_count / data.stats.tweets_analysed_count | percent}}</span> of Tweets</h3>
                        <p class="percent">with links to misinformation</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <p>Our analysis relies on reputable fact-checkers from <a href="https://ifcncodeofprinciples.poynter.org/signatories" title="Visit the International Fact-Checking Network" target="_blank">International Fact-Checking Network</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- processed ends -->

    <!-- latest fact-checks -->
    <div id="latest">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <h2>Latest Reviews by Fact-Checkers</h2>
                </div>
            </div>
            <div *ngFor="let item_ of data.latest_reviews; let index = index">
                <div *ngIf="index % 2 === 0">
                    <div class="clearfix margin-bottom-40"></div>
                    <div class="row">
                        <!-- {{index}} / {{data.latest_reviews}} -->
                        <!-- <div > -->
                        <!-- <p>{{item}}</p> -->
                        <div *ngFor="let item of [data.latest_reviews[index],data.latest_reviews[index + 1]];" class="col-lg-6 col-md-6 col-xs-12">
                            <div style="height: 128px; width: 128px; position: relative;" class="alignleft column">
                                <img src="{{item.image_url}}" alt="Fact-checker Logo" style="top: 50%; position: absolute; transform: translateY(-50%);" />
                            </div>
                            <div class="column">
                                <h3><a href="{{item.fact_check_url}}" title="Read more" target="_blank">{{item.title}}</a></h3>
                                <p>{{item.description}}</p>
                            </div>

                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>


            <!-- <div class="clearfix margin-bottom-40"></div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <img src="assets/img/fact-check-placeholders/fullfact.png" class="alignleft" alt="Full Fact Logo" />
                    <h3><a href="#" title="Read more: Biden was -Wearing a Wire- in Debate" target="_blank">Biden was "Wearing a Wire" in Debate</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <img src="assets/img/fact-check-placeholders/allsides.png" class="alignleft" alt="AllSides Logo" />
                    <h3><a href="#" title="Read more: Biden was -Wearing a Wire- in Debate" target="_blank">Biden was "Wearing a Wire" in Debate</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div> -->
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- latest fact-checks ends -->

</div>