<app-search [expanded]="true"></app-search>

<!-- processed -->
<div id="processed">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2>Fact-checking Summary Analysis</h2>
                <p>So far we have processed requests to check 2780 profiles and analysed 11750 tweets.</p>
            </div>
        </div>
        <div class="row">
            <!--<div class="col-lg-3 col-md-3 col-xs-6">
                <p>Accounts</p>
                <div class="processed-icon"><em class="fas fa-user"></em></div>
                <p>2226</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6">
                <p>Tweets</p>
                <div class="processed-icon"><em class="fab fa-twitter"></em></div>
                <p>4544341</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6">
                <p>Misinformation URLs</p>
                <div class="processed-icon"><em class="fas fa-globe"></em></div>
                <p>1679030</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6">
                <p>Sources</p>
                <div class="processed-icon"><em class="far fa-check-square"></em></div>
                <p>4563</p>
            </div>-->
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="group">
                    <div class="processed-icon"><em class="fas fa-user"></em></div>
                    <h3><span class="counter">15</span>% of profiles</h3>
                    <p class="percent">Spreading misinformation</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="group">
                    <div class="processed-icon"><em class="fab fa-twitter"></em></div>
                    <h3><span class="counter">25</span>% of Tweets</h3>
                    <p class="percent">with links to misinformation</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <p>Our analysis relies on reputable fact-checkers from <a href="#" title="Visit the International Fact-Checking Network" target="_blank">International Fact-Checking Network</a></p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- processed ends -->

<!-- latest fact-checks -->
<div id="latest">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2>Latest Reviews by Fact-Checkers</h2>
            </div>
        </div>
        <div class="clearfix margin-bottom-40"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <img src="assets/img/fact-check-placeholders/snopes.png" class="alignleft" alt="Snopes Logo" />
                <h3><a href="#" title="Read more: Trump Campaign Sends Email Fundraising Off COVID-19 Diagnosis" target="_blank">Trump Campaign Sends Email Fundraising Off COVID-19 Diagnosis</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <img src="assets/img/fact-check-placeholders/opensecrets.png" class="alignleft" alt="OpenSecrets.org Logo" />
                <h3><a href="#" title="Read more: Trump Campaign Sends Email Fundraising Off COVID-19 Diagnosis" target="_blank">Trump Campaign Sends Email Fundraising Off COVID-19 Diagnosis</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="clearfix margin-bottom-40"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <img src="assets/img/fact-check-placeholders/fullfact.png" class="alignleft" alt="Full Fact Logo" />
                <h3><a href="#" title="Read more: Biden was -Wearing a Wire- in Debate" target="_blank">Biden was "Wearing a Wire" in Debate</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <img src="assets/img/fact-check-placeholders/allsides.png" class="alignleft" alt="AllSides Logo" />
                <h3><a href="#" title="Read more: Biden was -Wearing a Wire- in Debate" target="_blank">Biden was "Wearing a Wire" in Debate</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="clearfix margin-bottom-40"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <img src="assets/img/fact-check-placeholders/fact-check.org.png" class="alignleft" alt="FactCheck.org Logo" />
                <h3><a href="#" title="Read more: Kamala Harris Isnt Eligible to Serve as President" target="_blank">Kamala Harris Isn't Eligible to Serve as President</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <img src="assets/img/fact-check-placeholders/truthorfiction.png" class="alignleft" alt="TruthOrFiction? Logo" />
                <h3><a href="#" title="Read more: Kamala Harris Isnt Eligible to Serve as President" target="_blank">Kamala Harris Isn't Eligible to Serve as President</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- latest fact-checks ends -->